/*  Color Scheme
********************/
/*  Fonts
********************/
* {
  font-weight: normal; }

html,
body {
  height: 100%; }

.content {
  min-height: 90%; }

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  background-color: #090809;
  background-image: url(../images/path30.png);
  color: #FCF7F8; }

p {
  text-align: justify; }

.landing-screen {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed; }

.logo {
  width: 10%; }

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #013F67 50%, #012A45 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1; }

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s; }

.bg3 {
  animation-duration: 5s; }

.content {
  color: #FCF7F8;
  padding-top: 10em; }

.content:after {
  content: "";
  display: block; }

.center {
  text-align: center; }

@keyframes slide {
  0% {
    transform: translateX(-25%); }
  100% {
    transform: translateX(25%); } }
section {
  height: 100vh; }

.subtitle-p {
  text-align: center;
  letter-spacing: 0.2em; }

.an {
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  color: white;
  width: 40em; }
  .an .subtitle {
    font-size: 1em; }
  .an .title {
    font: 900 4em/1 "Titillium Web", sans-serif;
    display: block;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    text-align: center;
    /* Clip Background Image */
    background: url(../images/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    transform: translateX(-25%);
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden; }

.an-n {
  text-transform: uppercase;
  text-align: left;
  letter-spacing: .5em;
  color: white; }
  .an-n .title-n {
    font: 900 2em "Titillium Web", sans-serif;
    letter-spacing: 0.2em;
    display: block;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    /* Clip Background Image */
    background: url(../images/animated_text_fill-n.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    transform: translateX(-25%);
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden; }

.camera {
  height: 100%;
  padding-right: 50px; }

.nav-icon-item {
  height: 50px;
  padding: 0 4px 5px; }

footer {
  margin-top: 50px;
  background: #0169AB;
  background: -webkit-linear-gradient(to right, #0173BC, #0169AB);
  background: linear-gradient(to right, #0173BC, #0169AB);
  padding: 20px 0;
  font-family: "Playfair Display", serif;
  text-align: right; }
  footer .social {
    color: #FCF7F8;
    border: none;
    outline: none;
    text-align: center;
    transition: 0.2s ease-out; }
  footer .social:hover {
    color: #d0d0d0; }

.icon-panel {
  position: fixed;
  bottom: 50px;
  margin: 0 auto;
  text-align: center;
  display: inline;
  width: 100%; }
  .icon-panel img {
    display: block;
    margin: 0 auto; }
  .icon-panel span {
    color: #FCF7F8;
    text-align: center; }
  .icon-panel .icon-panel-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    margin: 0 auto; }
    .icon-panel .icon-panel-ul li {
      display: inline-block;
      padding: 0 10px; }
    .icon-panel .icon-panel-ul a {
      color: #FCF7F8;
      text-transform: lowercase; }
    .icon-panel .icon-panel-ul a:hover {
      text-decoration: none; }

.icon-panel-mobile {
  position: fixed;
  bottom: 30px;
  width: 100%;
  text-align: center;
  display: none; }
  .icon-panel-mobile img {
    display: block;
    margin: 0 auto; }
  .icon-panel-mobile span {
    color: #FCF7F8;
    text-align: center; }
  .icon-panel-mobile .icon-panel-ul-mobile {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 0 auto; }
    .icon-panel-mobile .icon-panel-ul-mobile li {
      display: inline-block;
      padding: 0 7px; }
    .icon-panel-mobile .icon-panel-ul-mobile a {
      color: #FCF7F8;
      text-transform: lowercase; }
    .icon-panel-mobile .icon-panel-ul-mobile a:hover {
      text-decoration: none; }

h1 {
  font-family: "Playfair Display", serif; }

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }
::selection {
  background-color: #1e3c72; }

::-webkit-scrollbar {
  width: 0.7em; }

::-webkit-scrollbar-track {
  background-color: #1d1d1d; }

::-webkit-scrollbar-thumb:hover {
  background-color: #d0d0d0; }

::-webkit-scrollbar-thumb {
  background-color: #FCF7F8; }

/* Bootstrap
**************************/
nav {
  background: #0169AB;
  background: -webkit-linear-gradient(to right, #0173BC, #0169AB);
  background: linear-gradient(to right, #0173BC, #0169AB);
  text-align: center; }
  nav .nav-link {
    font-size: 0.8em;
    text-transform: lowercase; }

.navbar-dark .navbar-toggler-icon {
  background-image: url(../images/menu.svg); }

.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
  border: none; }

/* Media Queries
**************************/
@media only screen and (max-width: 650px) {
  .an {
    letter-spacing: 0.2em; }
    .an .subtitle {
      font-size: 0.8em; }

  .camera {
    padding-right: 0; }

  footer {
    text-align: center; }

  .icon-panel {
    display: none; }

  .nav-list {
    display: none; }

  nav {
    text-align: left; }

  .nav-icon-item {
    margin-right: 10px; }

  .content {
    color: #FCF7F8;
    padding-top: 6.5em; }

  .icon-panel-mobile {
    display: inline; } }

/*# sourceMappingURL=style.css.map */
