/*  Color Scheme
********************/

$blue: #0169AB;
$green: #9FD356;
$lgreen: #B5D6B2;
$white: #FCF7F8;
$black: #090809;

/*  Fonts
********************/

$tit: 'Titillium Web',
sans-serif;
$playfair: 'Playfair Display',
serif;

* {
    font-weight: normal;
}


html,
body {
    height: 100%;
}

.content {
    min-height: 90%;
}

body {
    font-family: $tit;
    font-weight: 400;
    background-color: $black;
    background-image: url(../images/path30.png);
    color: $white;
}

p {
    text-align: justify;
}

.landing-screen {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.logo {
    width: 10%;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #013F67 50%, #012A45 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {
    color: $white;
    padding-top: 8em;
}

.content:after {
    content: "";
    display: block;
}

.center {
    text-align: center;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

section {
    height: 100vh;
}

.subtitle-p {
    text-align: center;
    letter-spacing: 0.2em;
}

.an {
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    color: white;
    width: 40em;

    .subtitle {
        font-size: 1em;
    }

    .title {
        font: 900 4em/1 $tit;
        display: block;
        text-shadow: 0 0 80px rgba(255, 255, 255, .5);
        text-align: center;

        /* Clip Background Image */
        background: url(../images/animated_text_fill.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;
        transform: translateX(-25%);

        /* Animate Background Image */
        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 80s linear infinite;

        /* Activate hardware acceleration for smoother animations */
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;

    }
}

.an-n {
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .5em;
    color: white;

    .title-n {

        font: 900 2em $tit;
        letter-spacing: 0.2em;
        display: block;
        text-shadow: 0 0 80px rgba(255, 255, 255, .5);

        /* Clip Background Image */
        background: url(../images/animated_text_fill-n.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;
        transform: translateX(-25%);

        /* Animate Background Image */
        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 80s linear infinite;

        /* Activate hardware acceleration for smoother animations */
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;

    }
}

.camera {
    height: 100%;
    padding-right: 50px;
}

.nav-icon-item {
    height: 50px;
    padding: 0 4px 5px;
}

footer {
    margin-top: 20px;
    background: #0169AB;
    background: -webkit-linear-gradient(to right, #0173BC, #0169AB);
    background: linear-gradient(to right, #0173BC, #0169AB);
    padding: 20px 0;
    font-family: $playfair;

    .social {
        text-align: left;
        color: $white;
        padding: 0 10px;
        border: none;
        outline: none;
        transition: 0.2s ease-out;
    }

    .social:hover {
        color: #d0d0d0;
    }

    .xpoze {
        text-align: right;
    }
}


.icon-panel {
    position: fixed;
    bottom: 50px;
    margin: 0 auto;
    text-align: center;
    display: inline;
    width: 100%;

    img {
        display: block;
        margin: 0 auto;
    }

    span {
        color: $white;
        text-align: center;
    }

    .icon-panel-ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline;
        margin: 0 auto;

        li {
            display: inline-block;
            padding: 0 10px;
        }

        a {
            color: $white;
            text-transform: lowercase;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

.icon-panel-mobile {
    position: fixed;
    bottom: 30px;
    width: 100%;
    text-align: center;
    display: none;

    img {
        display: block;
        margin: 0 auto;
    }

    span {
        color: $white;
        text-align: center;
    }

    .icon-panel-ul-mobile {
        list-style: none;
        padding: 0;
        margin: 0;
        margin: 0 auto;

        li {
            display: inline-block;
            padding: 0 7px;
        }

        a {
            color: $white;
            text-transform: lowercase;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

h1 {
    font-family: $playfair;
}

.photo {
    display: block;
}

.photo-r {
    display: none;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

::selection {
    background-color: $blue;
}

::-webkit-scrollbar {
    width: 0.7em;
}

::-webkit-scrollbar-thumb {
    background-color: $blue;
}

/* Bootstrap
**************************/

nav {

    background: #0169AB;
    background: -webkit-linear-gradient(to right, #0173BC, #0169AB);
    background: linear-gradient(to right, #0173BC, #0169AB);
    text-align: center;

    .nav-link {
        font-size: 0.8em;
        text-transform: lowercase;
    }
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(../images/menu.svg);
}

.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
    border: none;
}

.card-link,
.card {
    text-decoration: none;
    transition: 0.3s ease-out;
    border: 0px;
    border-radius: 0.75rem;
}

.card-img-top {
    opacity: 0.8;
    transition: 0.3s ease-out;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.card-link:hover,
.card:hover,
    {
    text-decoration: none;
    transform: scale(1.05);

    .card-img-top {
        opacity: 1;
    }
}

.card-title {
    color: $white;
    text-align: center;
    font-family: $playfair;
    margin: 0;
}

.card-body {
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    background-color: $blue;
}

/* Media Queries
**************************/

@media only screen and (max-width: "650px") {
    .an {
        letter-spacing: 0.2em;
        .subtitle {
            font-size: 0.8em;
        }
    }
    .camera {
        padding-right: 0;
    }

    footer {
        text-align: center;
        .social {
            text-align: center;
        }

        .xpoze {
            text-align: center;
        }
    }

    .icon-panel {
        display: none;
        ;
    }

    .nav-list {
        display: none;
    }

    nav {
        text-align: left;
    }

    .nav-icon-item {
        margin-right: 10px;
    }

    .content {
        color: $white;
        padding-top: 6.5em;
    }

    .icon-panel-mobile {
        display: inline;
    }

    .photo {
        display: none;
    }

    .photo-r {
        display: block;
    }
}